*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    padding : 15px;
    align-items: center;
    

}
.first_nav{
    display: flex;
}
.first_nav img{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap : 10px;
    color: #575757;
}

.common_button{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}


.hero_section{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 850px;

}


.hero_content{
    padding-top: 200px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
}
.hero_content h1{
    font-weight: 900;
}

.hero_content button{
    margin-top: 380px;
}


.about_peoples{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    padding : 30px;
    margin: 30px;

}

.about_peoples div{
    border: 1px solid #E5E7EB;
    border-radius: 5px;

}
.speakers{
    text-align: center;
    padding-top: 45px;
}
.about_peoples img{
    width:  100%;
    height: auto;
    object-fit: cover;
}


.card{
    display: flex;
    justify-content: center;
    
    gap:10px;
    margin-left : 80px;
    margin-right: 80px;
}

.card div{
    width: 100%;
    max-width: 340px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    color: #333333;
    background-color: #E5E7EB;
    border-radius: 10px;
  
}

.card div li{
    padding: 5px;
    color: #333333;
}

.card div button{
    margin: 10px;
    width:320px;
    padding: 10px;
}

.card_section{
    margin-top: 40px;
   text-align: center;
}
.card_section h1{
    padding: 20px;
    font-weight: bold;
}

.card_section p{
    color: #888888;
}

.middle_card{
    background-color: #0D1B2A !important;
    color: #FFFFFF !important;
}
.middle_card li{
    color: #FFFFFF !important;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
    background-color: #0D1B2A;
    color: #FFFFFF;
}

.footer_first{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5px;
}
.footer_last{
    display: flex;
    justify-content: space-around;
    gap:20px;
    align-items: center;
}